<div class="container">
  <div class="row">
    <div class="col">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="min" value="min">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="max" value="max">
        </mat-form-field>
        <button mat-raised-button>Apply</button>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <button mat-raised-button>Apply</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <button mat-raised-button>Apply</button>
    </div>
  </div>
</div>
